# yaml-language-server: $schema=https://topaz.sh/schema/config.json
---
version: 2

logging:
  prod: false
  log_level: info

directory:
  db_path: "${TOPAZ_DB_DIR}/zaakchat.db"
  request_timeout: 5s

remote_directory:
  address: "0.0.0.0:9292"
  insecure: true
  no_tls: true

jwt:
  acceptable_time_skew_seconds: 5

auth:
  options:
    default:
      enable_api_key: false
      enable_anonymous: true

api:
  health:
    listen_address: "0.0.0.0:9494"
  metrics:
    listen_address: "0.0.0.0:9696"

  services:
    model:
      grpc:
        listen_address: "0.0.0.0:9292"
      gateway:
        listen_address: "0.0.0.0:9392"
        http: true
    reader:
      needs:
        - model
      grpc:
        listen_address: "0.0.0.0:9292"
      gateway:
        listen_address: "0.0.0.0:9393"
        http: true
    writer:
      needs:
        - model
      grpc:
        listen_address: "0.0.0.0:9292"
      gateway:
        listen_address: "0.0.0.0:9394"
        http: true
    authorizer:
      needs:
        - reader
      grpc:
        listen_address: "0.0.0.0:8281"
      gateway:
        listen_address: "0.0.0.0:8282"
        allowed_origins:
          - http://localhost
          - http://localhost:*
        http: true

opa:
  instance_id: zaakchat
  config:
    services:
      ghcr:
        url: https://ghcr.io
        type: oci
    bundles:
      zaakchat:
        service: ghcr
        resource: ghcr.io/aserto-policies/policy-todo:latest
        persist: false
